/* ImageCarousel.css */

    .carousel {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .carousel .slide {
    background-color: #ffffff;
  }
  
  .carousel .carousel-slider {
    border-radius: 10px;
  }
  
  .carousel .thumbs-wrapper {
    display: none; /* Hide thumbnail navigation */
  }

  .carousel-container{
    width: 100%;
    padding-right: 10%;
  

  }
  